.wrapper {
    width: 100%;
    height: 100vh;     
}

:root {
    --sidebar: #051E34;
    --backgroud : #1B72E8;
    --bell: #FF8F00;
    --background-btn: #165BBA;
    --header-height: 70px;
    --sidebar-width: 80px;
}

@media screen and (min-width:992px) {
    :root {
        --sidebar-width: 200px;
    }
    
}


/* common */
*{

    font-size: .85rem;
    font-weight: 400;
}   

.btn-small {
    border-radius: 7px;
    width: fit-content;
    padding: 0 7px;
    font-size: 0.7rem;
    
}



/* header */
header {  
    height: var(--header-height); 
    align-items: center;
} 

header img {
    height: 100%;
}
.img-swg{
    height: calc(100% - 24px);
}

.navbar {
    width: 100%;
    
}

.fa-bell {
    color: var(--bell);
    margin-right: auto;
    
}

/* sidebar */
.sidebar {
    height: calc(100vh - var(--header-height) );
    width: var(--sidebar-width);
    background-color: var(--sidebar);
    color: white;
    background-image: url(../img/sidebar-bg.png);
}    


/* main container */
.main-container {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    margin-left: 0;
}

/* boolean  */
.boolean {
    background-color: var(--backgroud);
    color: white;
}

.app {
    background-color: var(--background-btn);
    color: white;
}

/* prossime classi */
td img {
    width: 25px;
}

.status {   
    color: white;    
}

.done {
    background-color: green;
}

.failed {
    background-color: red;
}

.progres {
    background-color: goldenrod;
}





/* ricontrollare header
ricontrollare sidebar */