.wrapper {
    width: 100%;
    height: 100vh;     
}

:root {
    --sidebar: #051E34;
    --backgroud : #1B72E8;
    --bell: #FF8F00;
    --header-height: 70px;
    --sidebar-width: 80px;
}

@media screen and (min-width:992px) {
    :root {
        --sidebar-width: 200px;
    }
    
}

*{
    /* border: 1px solid black; */
font-size: .85rem;
font-weight: 600;
}    

/* header */
header {  
    height: var(--header-height); 
    align-items: center;
} 

header img {
    height: 100%;
}
.img-swg{
    height: calc(100% - 24px);
}

.navbar {
    width: 100%;
    
}

.fa-bell {
    color: var(--bell);
    margin-right: auto;
    
}

/* sidebar */
.sidebar {
    height: calc(100vh - var(--header-height) );
    width: var();
    background-color: var(--sidebar);
    color: white;
}    


/* main container */
.main-container {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

/* boolean  */
.boolean {
    background-color: var(--backgroud);
}

/* prossime classi */
td img {
    width: 25px;
}

.status {    
    border-radius: 7px;
    width: fit-content;
    padding: 0 7px;
    color: white;
    font-size: 0.7rem;
}

.done {
    background-color: green;
}

.failed {
    background-color: red;
}

.progress {
    background-color: goldenrod;
}




/* ricontrollare header */